/* import common css */
@import "common_styles.css";

/* define mode variables */
:root {
    /* .main-header */
    --main-header_background-color: #383838;

    /* .main-footer */
    --main-footer_background-color: gray;
    
    /* .main-content */
    --main-content_background-color: DarkGray;

    /* .container */
    --container_grid-template-columns: 1fr;
    --container_grid-template-rows: auto auto 1fr auto;
    --container_grid-template-areas:
        "header"
        "navigation"
        "content"
        "footer";
    
    /* .main-nav */
    --main-nav_background-color: gray;
    --main-nav_border-right: none;
    --main-nav_grid-template-columns: auto 1fr;
    --main-nav_grid-template-rows: auto auto auto auto;
    --main-nav_grid-template-areas:
        "search ."
        "sort ."
        "filter ."
        "button .";
    
    /* main-content-card-header */
    --main-content-card-header_background-color: #383838;

    /* main-content-card-body */
    --main-content-card-body_background-color: gray;

    /* content-card */
    --content-card_background-color: #E8E8E8;
}