html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.container {
    display: grid;
    min-height: 100%;
    grid-template-columns: var(--container_grid-template-columns);
    grid-template-rows: var(--container_grid-template-rows);
    grid-template-areas: var(--container_grid-template-areas);
}

.main-header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr auto;
    border-bottom: 2px solid black;
    background-color: var(--main-header_background-color);
}

.main-header-style {
    margin: 10px;
}

.main-header-logo{
    height: 90px;
    margin: 15px;
    border-radius: 10%;
    transform: rotate(-20deg);
    border: 2px solid black;
}

.main-nav {
    grid-area: navigation;
    background-color: var(--main-nav_background-color);
    display: grid;
    grid-template-columns: var(--main-nav_grid-template-columns);
    grid-template-rows: var(--main-nav_grid-template-rows);
    grid-template-areas: var(--main-nav_grid-template-areas);
    gap: 5px 5px;
    padding: 5px;
    border-bottom: 2px solid black;
    border-right: var(--main-nav_border-right);
}

.main-nav-search {
    grid-area: search;
}

.main-nav-sort {
    grid-area: sort;
}

.main-nav-openNotes {
    grid-area: openNotes;
}

.main-nav-finishedNotes {
    grid-area: finishedNotes;
}

.main-nav-button {
    grid-area: button;
}

.main-content {
    grid-area: content;
    background-color: var(--main-content_background-color);
    padding: 10px;
    border-bottom: 2px solid black;
}

.main-content-card {
    display: grid;
    grid-template-rows: auto 1fr;
    margin: 10px;
    border: 2px solid black;
}

.main-content-card-header {
    border-bottom: 2px solid black;
    background-color: var(--main-content-card-header_background-color);
    padding: 10px;
    font-weight: bold;
    font-size: x-large;
}

.main-content-card-body {
    background-color: var(--main-content-card-body_background-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    gap: 10px;
    padding: 10px;
}

.main-footer {
    grid-area: footer;
    background-color: var(--main-footer_background-color);
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

.content-card {
    background-color: var(--content-card_background-color);
    border: 2px solid black;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 250px;
    width: 250px;    
}

.content-card-header {
    border-bottom: 2px solid black;
    padding: 5px;
    font-weight: bold;
    font-size: large;
}

.content-card-body {
    background-color: white;
}

.content-card-footer {
    border-top: 2px solid black;
}

.no-url {
    color: inherit;
    text-decoration: inherit;
}

.modal-box {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: none;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: 
    ". . ."
    ". modal ."
    ". . .";
}

.modal-content {
    background-color: #fefefe;
    padding: 10px;
    border: 1px solid #888;
    grid-area: modal;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    "header"
    "form";
    row-gap: 5px;
}

.modal-content h1 {
    margin: 0px;
}

.modal-content-header {
    grid-area: header;
}

.modal-content-form{
    grid-area: form;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "title title title"
    "priority duedate ."
    "note note note"
    "finishedcheckbox finisheddate ."
    "button button .";
    gap: 5px;
}

.modal-content-form-finishedcheckbox {
    grid-area: finishedcheckbox;
}

.modal-content-form-finisheddate {
    grid-area: finisheddate;
}

.modal-content-form-title {
    grid-area: title;
}

.modal-content-form-priority {
    grid-area: priority;
}

.modal-content-form-duedate {
    grid-area: duedate;
}

.modal-content-form-note {
    grid-area: note;
}

.modal-content-form-note textarea {
    width: 600px;
    height: 300px;
    resize: none;
}

.modal-content-form-button {
    grid-area: button;
}